NET "clk" LOC = V10;
NET "clk" IOSTANDARD = LVCMOS33;
NET "PS2_CLK" LOC = L12;
NET "PS2_CLK" CLOCK_DEDICATED_ROUTE = FALSE;
NET "PS2_DATA" LOC = J13;

NET "SEG[0]" LOC = L14;
NET "SEG[1]" LOC = N14;
NET "SEG[2]" LOC = M14;
NET "SEG[3]" LOC = U18;
NET "SEG[4]" LOC = U17;
NET "SEG[5]" LOC = T18;
NET "SEG[6]" LOC = T17;
NET "DP" LOC = M13;

NET "AN[0]" LOC = N16;
NET "AN[3]" LOC = P17;
NET "AN[2]" LOC = P18;
NET "AN[1]" LOC = N15;



NET "SEG[0]" IOSTANDARD = LVCMOS33;
NET "SEG[1]" IOSTANDARD = LVCMOS33;
NET "SEG[2]" IOSTANDARD = LVCMOS33;
NET "SEG[3]" IOSTANDARD = LVCMOS33;
NET "SEG[4]" IOSTANDARD = LVCMOS33;
NET "SEG[5]" IOSTANDARD = LVCMOS33;
NET "SEG[6]" IOSTANDARD = LVCMOS33;
NET "DP" IOSTANDARD = LVCMOS33;

NET "AN[0]" IOSTANDARD = LVCMOS33;
NET "AN[3]" IOSTANDARD = LVCMOS33;
NET "AN[2]" IOSTANDARD = LVCMOS33;
NET "AN[1]" IOSTANDARD = LVCMOS33;