## Clock interno
NET "clk"			LOC = "V10";   

## Boton arriba reset
NET "reset"			LOC = "A8";

NET "ps2d"   LOC = "K14" | IOSTANDARD = "LVCMOS33" | PULLUP;   #Bank = 1, Pin name = IO_L39N_M1ODT,                     Sch name = PIC-SDO1
NET "ps2c"    LOC = "L13" | IOSTANDARD = "LVCMOS33" | PULLUP;   #Bank = 1, Pin name = IO_L40N_GCLK10_M1A6,               Sch name = PIC-SS1

##NET "b_u"			LOC = "A8";
##NET "b_d"			LOC = "C9";
##NET "b_l"			LOC = "C4";
##NET "b_r"			LOC = "D9";

## Leds
#NET "btnm<0>"         LOC = "U16" ;   #Bank = 2, Pin name = IO_L2P_CMPCLK,                     Sch name = LD0
#NET "btnm<1>"         LOC = "V16" ;   #Bank = 2, Pin name = IO_L2N_CMPMOSI,                    Sch name = LD1
#NET "btnm<2>"         LOC = "U15" ;   #Bank = 2, Pin name = IO_L5P,                            Sch name = LD2
NET "code<0>"         LOC = "V15" ;   #Bank = 2, Pin name = IO_L5N,                            Sch name = LD3
NET "code<1>"         LOC = "M11" ;   #Bank = 2, Pin name = IO_L15P,                           Sch name = LD4
NET "code<2>"         LOC = "N11" ;   #Bank = 2, Pin name = IO_L15N,                           Sch name = LD5
NET "code<3>"         LOC = "R11" ;   #Bank = 2, Pin name = IO_L16P,                           Sch name = LD6
NET "code<4>"         LOC = "T11" ;   #Bank = 2, Pin name = IO_L16N_VREF,                      Sch name = LD7

## Switches
NET "switch<0>"		LOC = "T10";
NET "switch<1>"		LOC = "T9";
NET "switch<2>"		LOC = "V9";
NET "switch<3>"		LOC = "M8";
NET "switch<4>"		LOC = "N8";
NET "switch<5>"		LOC = "U8";
NET "switch<6>"		LOC = "V8";
NET "switch<7>"		LOC = "T5";

## Salidas VGA "Conector" 
NET "red<0>"   	LOC = "U7";      
NET "red<1>"   	LOC = "V7";      
NET "red<2>"   	LOC = "N7";      
NET "green<0>" 	LOC = "P8";      
NET "green<1>" 	LOC = "T6";      
NET "green<2>" 	LOC = "V6";      
NET "blue<0>"  	LOC = "R7";      
NET "blue<1>"  	LOC = "T7";      
NET "hsync"       LOC = "N6";      
NET "vsync"       LOC = "P7";      